@font-face {
    font-family: 'Basteleur-Bold';
    src: url('index/Basteleur-Bold.eot');
    src: url('index/Basteleur-Bold.eot?#iefix') format('embedded-opentype'),
        url('index/Basteleur-Bold.woff2') format('woff2'),
        url('index/Basteleur-Bold.woff') format('woff'),
        url('index/Basteleur-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Basteleur-Moonlight*/
@font-face {
    font-family: 'Basteleur-Moonlight';
    src: url('index/Basteleur-Moonlight.eot');
    src: url('index/Basteleur-Moonlight.eot?#iefix') format('embedded-opentype'),
        url('index/Basteleur-Moonlight.woff2') format('woff2'),
        url('index/Basteleur-Moonlight.woff') format('woff'),
        url('index/Basteleur-Moonlight.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* FT88 Regular */
@font-face {
    font-family: 'FT88';
    src: url('index/FT88-Regular.eot');
    src: url('index/FT88-Regular.eot?#iefix') format('embedded-opentype'),
        url('index/FT88-Regular.woff2') format('woff2'),
        url('index/FT88-Regular.woff') format('woff'),
        url('index/FT88-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* FT88 Italic */
@font-face {
    font-family: 'FT88';
    src: url('index/FT88-Italic.eot');
    src: url('index/FT88-Italic.eot?#iefix') format('embedded-opentype'),
        url('index/FT88-Italic.woff2') format('woff2'),
        url('index/FT88-Italic.woff') format('woff'),
        url('index/FT88-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}


/* FONTS ONLY */
/* ----------------------------------------------------- */

html {
    font-family: 'FT88', monospace;
    letter-spacing: -0.05rem;
    font-size: 18px;
}

h2 {
    font-family: 'Basteleur', serif;
    font-size: 1.2rem;
}

body>aside {
    font-size: 0.8em;
}


/* BODY AND SECTIONS */
/* ----------------------------------------------------- */
/* All body and section styling available here (except for the fonts, which are declared in the defaults+fonts.css). Some properties have already been declared */

body {
    padding: 40px 10%;
    background-color: rgb(235, 235, 235);
}

ul {
    margin: 0;
}

ul.dashed {
    list-style-type: none;
}

ul.dashed>li {
    text-indent: -5px;
}

ul.dashed>li:before {
    content: "";
    text-indent: -5px;
}

ul.dashed>ol {
    text-indent: -5px;
}

ul.dashed>ol:before {
    content: "";
    text-indent: -5px;
}

ol{
    padding-left: 20px;
    padding-bottom: 5px;
}

li{
    margin-bottom: 4px;
}

li:hover{
    padding-left: 15px;
    padding-right: 12px;
    width: fit-content;
    background-color: rgb(255, 179, 0);
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

section>h2 {
    text-align: center;
    line-height: 1;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}

section>em {
    display: block;
    margin: 8px 0;
    font-size: 20px;
    text-align: center;
}

section>div {
    margin: 10px;
}

#s4>div {
    background-color: #FF5964;
}

#s5>div {
    background-color: #B8F3FF;
  }
  
/* SECTION 4 */
/* ----------------------------------------------------- */

#s4>div {
    width: 47%;
}

#s4>div:nth-of-type(1){
    float: right;
}

#s4>div:nth-of-type(2){
    padding-bottom: 1px;
}

#s4>div:nth-of-type(1)>h3 {
    position: sticky;
    top: 1rem;
    background-color: rgb(238, 139, 155);
}

#s4>div:nth-of-type(2)>h3 {
    position: sticky;
    top: 1rem;
    background-color: rgb(238, 139, 155);
}

/* SECTION 5 */
/* ----------------------------------------------------- */

#s5>div {
    position: static;
    text-align: right;
    padding: 5px;
    padding-right: 10px;
}

#s5 div:nth-of-type(1) {
    position: absolute;
    right: 45px;
    top: 25px;
}