html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.split-screen-container {
  display: BLOCK;
  height: 200vh;
}

.left,
.right {
  flex: 1;
  height: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

img {
  object-fit: cover;
}
